---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/BilanPhase1.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Stage" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Stage de première année de bts"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/test.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation de l'entreprise</h2>
				<div class="content">
					<p>
						Clair Prost-Jacquot, anciennement professeur de français, voulait travailler en autodidacte et
						a créé sa start-up en février 2023. Elle souhaite créer deux sites, dont l'un se concentrera
						sur la rédaction web SEO (Plumeos). Son objectif principal est de contribuer au
						positionnement d'une page parmi les premiers résultats des moteurs de recherche. Le
						deuxième site propose des formations dans le domaine de la thérapie	
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Mission réalisé en entreprise</h2>
				<div class="content">
					<p>Le projet vise à créer un site web à partir de zéro, ce qui permettra d'améliorer sa visibilité,
						d'attirer de nouveaux clients et de bénéficier de la possibilité de vente en ligne</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Rapport</h2>
				<div class="content">
					<div class="contain-btn-phase1">
						<a class="a-btn" href="../../public/assets/kevin.pdf" data-astro-cid-balv45lp="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/CallToAction.astro" data-astro-source-loc="9:17"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256" aria-hidden="true" stroke="currentcolor" fill="currentcolor" style="--size:1.2em" class="btn-phase1" data-astro-cid-patnjmll="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/Icon.astro" data-astro-source-loc="30:2"> <g data-astro-cid-patnjmll="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/Icon.astro" data-astro-source-loc="31:3"><path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"></path></g></svg>    </a>
					   </div>
						<style>
						   .a-btn{
							   width:20% !important;
						   }
						   .contain-btn-phase1{
							   display: flex;
							   justify-content: center;
						   }
						</style>
				</div>
			</section>
		</main>
<br>
<br>
<br>

<br>
	</div>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Stage de deuxieme année de bts"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/test2.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Technologie</h2>
				<div class="content">
					<img class="img-logo"
					width="200"
					height="873"
					src="/assets/logo1.png"
					alt="Jeanine White at work with a colleague"
					/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img class="img-logo"
					width="160"
					height="873"
					src="/assets/logo2.png"
					alt="Jeanine White at work with a colleague"
					/>
					
				</div>

			<section>
				<h2 class="section-title">Présentation de l'entreprise</h2>
				<div class="content">
					<p>
						MK Informatique est une société de services informatiques située à Champagnole dans le Jura (39300). Elle a été
						créée en 2021 par Kevin Morel, passionné d'informatique et doté d'une expérience de plusieurs années dans le domaine.
						MK Informatique intervient dans le domaine de l'informatique et propose une large gamme de services à
						destination des particuliers et des professionnels : <br>
						- Dépannage et réparation de ordinateurs et de périphériques <br>
						- Installation et configuration de logiciels et de systèmes d'exploitation <br>
						- Nettoyage et optimisation de ordinateurs <br>
						- Sauvegarde et récupération de données <br>
						- Formation informatique <br>
						- Création de sites web <br>
						- Maintenance informatique
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Mission réalisé en entreprise</h2>
				<div class="content">
					<p>Je dois programmer une solution qui permettras de regrouper tous en un seul endroit (config pc, liste pc portable,
						config site web ect…)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Rapport</h2>
				<div class="content">
					<div class="contain-btn-phase1">
						<a class="a-btn" href="../../public/assets/RDSKevin.pdf" data-astro-cid-balv45lp="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/CallToAction.astro" data-astro-source-loc="9:17"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" color="white" viewBox="0 0 256 256" aria-hidden="true" stroke="currentcolor" fill="currentcolor" style="--size:1.2em" class="btn-phase1" data-astro-cid-patnjmll="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/Icon.astro" data-astro-source-loc="30:2"> <g data-astro-cid-patnjmll="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/Icon.astro" data-astro-source-loc="31:3"><path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"></path></g></svg>    </a>
					   </div>
						<style>
						   .a-btn{
							   width:20% !important;
						   }
						   .contain-btn-phase1{
							   display: flex;
							   justify-content: center;
						   }
						</style>
				</div>
			</section>
			
		</main>
		

		<ContactCTA />
		<hr class="hr">
		<section>
			<h2 class="section-title">Tableau des compétences</h2>
			<div class="content">
				<div class="contain-btn-phase1">
					<a class="a-btn" href="../../public/assets/Tableau-de-synthese-Epreuve-E4.pdf" data-astro-cid-balv45lp="" data-astro-source-file="C:/Users/kevin/portfolio/src/components/CallToAction.astro" data-astro-source-loc="9:17"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffffff" viewBox="0 0 256 256"><path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM40,112H80v32H40Zm56,0H216v32H96ZM216,64V96H40V64ZM40,160H80v32H40Zm176,32H96V160H216v32Z"></path></svg>    </a>
				   </div>
					<style>
					   .a-btn{
						   width:20% !important;
					   }
					   .contain-btn-phase1{
						   display: flex;
						   justify-content: center;
					   }
					</style>
			</div>
		</section>
	</div>
	
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.hr {
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    right: 100px;
	}
	.img-logo{
		box-shadow: none;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
